body{
    font-family:"Open Sans", sans-serif;
}

h1, h2, h3{
    font-family:"Raleway", sans-serif;
}

h5 {
    color: red;
}

h2{
    color: #3046c5;
}

header h2{
    color: #fc0909;
}

footer{
    background-image: linear-gradient(#000000, rgb(8, 8, 8));
    padding: 2px;
    color: white;
    font-size: 12px;
}

footer a:link{
    color: white;
    font-size: 12px;
}

footer .fa{
    font-size: 6px;
    text-decoration: none;
}

.jumbotron {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    color: rgb(2, 2, 2);
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark{
    background-color: #0c0c0c;
    font-size: 13px;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel {
    border: solid #000000;
}

#bodyContent .col{
    border: 1px solid black;
    margin: 10px;

}